body, html {
	margin:0;
	padding:0;
	height: 100%;
	display: grid;
  
	background:#e8f5fc;
  
	font-family:Arial;
	color:#3c3d41;
}

.wrapper {
	margin: auto;
	background:#fff;
	padding:2em;
  
	text-align:center;
}

h1 {
	font-size:2em;
}

header {
	position:fixed;
	height:50px;
	background:#fff;
	padding:5px;
	width:100%;
	top:0;
	left:0;
}


img {
	max-width:100%;
}

.statuspanel {
	content: ' ';
	background: rgba(0,0,0,0.2);
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:800;
	display:none;
}

.statuspanel .content {
    position: absolute;
    left: 50%;
    top:50%;
	transform: translate(-50%, -50%);
	
	background:#fff;
	
	width:400px;
	
	z-index:999;
	
	padding:20px;
	border-radius:5px;
	text-align:center;
	-webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.57);
	box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.57);
		

}

.statuspanel img {
	width:auto;
}

#studydebt {
	font-size:1.5em;
	font-weight:bold;
}

a 
{
	display:inline-block;
	padding:20px 5px;
	
	text-decoration:none;
	
	border:1px solid #444;
	
	color:#444;
	font-size:13pt;
	
	min-width:230px;
	
	border-radius:4px;

}

a:hover
{

	color:#888;
	border-color:#888;
	
	box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.4);
}